[{sasl,[{errlog_type,error}]},
 {kernel,
     [{distributed,
          [{elixir_distribution_application_exmaple,5000,
               ['a@192.168.8.104',{'b@192.168.8.104','c@192.168.8.104'}]}]},
      {sync_nodes_mandatory,['a@192.168.8.104','c@192.168.8.104']},
      {sync_nodes_timeout,30000}]}].
